<div class="new-form-container">
 <%= form_for @user, url: login_path do |f| %>
 <ul>
  <li>
   <h2>SIGN IN</h2>
  </li>
 
 <li>
   <%= f.label :email %>
   </br>
   <%= f.text_field :email %>
 </li>
 
 <li>
   <%= f.label :password %>
   </br>
   <%= f.password_field :password %>
 </li>

 <li>
   <%= f.submit "SIGN IN" %>
 </li>
 
 <li>
   <p>I'm new</p>
   <%= link_to "SIGNUP", signup_path %>
 </li>
 <li>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
 </li>
 
 </ul>
<% end %>

</div>