<div class="new-form-container">
 <%= form_for @user, url: login_path do |f| %>
 <ul>
  <% if flash[:message] %>
  <h3 id="flash-message"><%= flash[:message] %></h3>
  <% end %>
  
  <li>
   <h3>SIGN IN</h3>
  </li>
  
  <%= render 'errors/error_explanation' %>
  
  <%= render 'errors/email_password' %>
  
 <li>
   <%= f.submit "SIGNIN" %>
 </li>
 
 <li>
   <p><%= link_to "SIGNUP", signup_path %></p>
   <p> or </p>
 </li>
 
 <li>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
 </li>
 
 </ul>
<% end %>

</div>