<div class="new-form-container">
 <%= form_for @user, url: signup_path do |f| %>
 <ul>
  <li>
   <h2>CREATE ACCOUNT</h2>
  </li>
  
 <li>
  <%= f.label :name %>
  </br>
  <%= f.text_field :name %>
 </li>
 
 <li>
   <%= f.label :email %>
   </br>
   <%= f.text_field :email %>
 </li>
 
 <li>
   <%= f.label :password %>
   </br>
   <%= f.password_field :password %>
 </li>
 
 <li>
  <%= f.label :password_confirmation %>
  </br>
  <%= f.password_field :password_confirmation %>
 </li>

 <li>
   <%= f.submit %>
 </li>
 
 <li>
   <p>I have an account</p>
   <%= link_to "LOGIN", login_path %>
 </li>
 
 </ul>
<% end %>

</div>

