
<div class="new-form-container">
 <%= form_for @user, url: signup_path do |f| %>
 
 <div id="error_explanation">
  <% if @user.errors.any? %>
   <h2>There were errors</h2>
  </div>
 <% end %>
  
 <ul>
  <li>
   <h3>CREATE ACCOUNT</h3>
  </li>

<div class="field <%= ' field_with_errors' if @user.errors[:name].any? %>">
   <%= f.label :name %>
  <li>
   <%= f.text_field :name %>
  </li>
  <h5><%= @user.errors[:name][0] %></h5>
</div>

<div class="field <%= ' field_with_errors' if @user.errors[:email].any? %>"> 
   <%= f.label :email %>
 <li>
   <%= f.text_field :email %>
 </li>
 <h5><%= @user.errors[:email][0] %></h5>
</div>

<div class="field <%= ' field_with_errors' if @user.errors[:password].any? %>">
   <%= f.label :password %>
  <li>
    <%= f.password_field :password %>
  </li>
  <h5><%= @user.errors[:password][0] %></h5>
 </div>

</div>

 <li>
   <%= f.submit %>
 </li>
 
 <li>
   <p>I have an account</p>
   <%= link_to "LOGIN", login_path %>
 </li>
 
 </ul>
<% end %>

</div>

