<div class="new-form-container">
 <%= form_for @user, url: signup_path do |f| %>
 <ul>
  <% if flash[:message] %>
  <h3 id="flash-message"><%= flash[:message] %></h3>
  <% end %>
  
  <li>
   <h3>SIGNUP</h3>
  </li>
  
  <div id="error_explanation">
  <% if @user.errors.any? %>
   <h2>There were errors</h2>
 </div>
  <% end %>
 
 <div class="field <%= ' field_with_errors' if @user.errors[:email].any? %>"> 
   <%= f.label :email %>
  <li>
   <%= f.text_field :email %>
  </li>
  <h5><%= @user.errors[:email][0] %></h5>
 </div>

<div class="field <%= ' field_with_errors' if @user.errors[:password].any? %>">
   <%= f.label :password %>
  <li>
    <%= f.password_field :password %>
  </li>
  <h5><%= @user.errors[:password][0] %></h5>
</div>

  <li>
    <%= f.submit "submit" %>
  </li>

  <li>
   <p><%= link_to "LOGIN", login_path %></p>
   <p> or </p>
  </li>
  
  <li>
   <%= link_to('Log in with Facebook!', '/auth/facebook') %>
  </li>

  </ul>
 <% end %>
</div>