<div class="carts-container">
 <h3>Shopping Cart</h3>

  <% current_cart.line_items.each do |line_item| %>
     <div class="image-shrunk"><img src="<%= line_item.product.picture %>">
      <div class="product-name"><%= line_item.product.name %></div>
      <div class="product-price"><%= line_item.product.price.floor %></div>
      <div class="add_quantity"><%= button_to " + ", product_line_items_path(line_item.product, line_item) %></div>
      <div class="quantity"><%= line_item.quantity %></div>
      <div class="decrease_quantity"><%= button_to " - ", product_line_item_path(line_item.product, line_item), :method => "patch" %></div>
      <div class="delete_from_cart"><%= button_to "Delete from cart", product_line_item_path(line_item.product, line_item), :method => "delete" %></div>
     </div>
 <% end %>
 
<p>Total: <%= current_cart.total %></p>
 
 <%= button_to "Check out", user_cart_path(current_user, current_cart), :method => "patch" %>
</div>

