<div class="products-container">
  <div class="product">
   <div class="product-content">
     <div class="image-shrunk"><a href=<%= product_path(@product) %>><img src="/assets/<%= @product.picture %>"></a></div>
     <div class="name"><%= @product.name %></div>
     <div class="price"><%= @product.price.floor %></div>
     <div class="buttons"><%= button_to "Add to Cart", product_line_items_path(@product)%></div>
   </div>
  </div>
</div>

<p>Average Rating: <%= @product.average_rating.floor%>(<%= @product.reviews.count %> reviews)</p>

<%= render :partial => 'shared/review', :collection => @product.reviews %>

<button id="button-reviews"><%= link_to "review this product", new_product_review_path(@product) %></button>