<div class="products-container">
  <div class="product">
   <div class="product-content">
     <div class="image-shrunk"><a href=<%= product_path(@product) %>><img src="/assets/<%= @product.picture %>"></a></div>
     <div class="name"><%= @product.name %></div>
     <div class="price"><%= @product.price.floor %></div>
     <div class="buttons"><%= button_to "Add to Cart", product_line_items_path(@product)%></div>
   </div>
  </div>
</div>

<h3><%= @product.average_rating %> stars (<%= @product.reviews.count %> reviews)</h3>
<br>
<b><%=%></b>
<div id="product-review-container">
  <%= render :partial => 'shared/review', :collection => @product.reviews %>
</div>

<button id="button-reviews"><%= link_to "review this product", new_product_review_path(@product) %></button>
<div id="review-form-container"></div>

<script id="product-review-template" type="text/x-handlebars-template">
 <div id="review-{{id}}">
  <div class="review_product_rating">{{product_rating}} stars</div>
  <div class="user_email">{{email}}</div>
  <div class="review_title">Title: {{title}} </div>
  <div class="review_comment">Review: {{comment}}</div>
 </div>
</script>