<div class="products-container">
  <div class="product">
   <div class="product-content">
     <div class="image-shrunk"><a href=<%= product_path(@product) %>><img src=<%= @product.picture %>></a></div>
     <div class="name"><%= @product.name %></div>
     <div class="price"><%= @product.price.floor %></div>
     <div class="add-cart"><%= button_to "Add to Cart", product_line_items_path(@product) %></div>
   </div>
   <div class="review-container">
   <h2>Product Reviews</h2>
   <div class="write_review"><%= button_to "write a review", product_reviews_path(@product) %></div>
   </div>
  </div>
</div>

