

 <nav>
  <a href="#" class="toggle-menu">&#9776;</a>
   <ul class="nav-list nav-open" id="nav">
    <li><a href=<%= root_path %>>HOME</a></li>
    <li class="has-submenu"><a href="/products">SHOP</a>
     </li>
     <li><a href=<%= about_path %>>ABOUT LG</a></li>
    <li class="has-logo"><a href="/">
      <h2 class="site-title">
       <img src="/lg_compass.jpeg" alt="lostgenerationcompass">
      </h2>
    </a></li>
    <li class="has-submenu"><a href=<%= contact_path %>>CONTACT</a>
     </li>
     <%= show_name_if_signed_in %>
    <li>
     <p class="shopping-cart">
      <% if current_user %>
       <a href=<%= user_cart_path(current_user, current_user.current_cart) %>><img src="/shopping_cart.jpeg"></a>
      <% else %>
      <a href="/login"><img src="/shopping_cart.jpeg"></a>
      <% end %>
     </p>
    </li>
      
  </ul>
 </nav>




  
