<!DOCTYPE html>
<html>
  <head>
    <title>Gatsby Designs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>
 
  <body>
    <header>
      
     <div class="logo-container">
      <div class="logo">
      <a href=<%= root_path %>><img src="/assets/logo/gatsby_designs.jpeg" alt="Gatsby Designs"></a>
      </div> 
     </div>
     
      <%= render 'layouts/navigation' %>
     
    </header>
    
    <main class="<%= controller_name %> <%= action_name %>">
      
     <%= yield %>
     
    </main>
    
  </body>
  
   <footer class="footer-container">
     <p>&copy; Gatsby Designs </p>
   </footer>
   
</html>
